# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
AppTokiota.Users/AppSettingsKeys.cs
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
/.vs/AppTokiota/v15/sqlite3/storage.ide
/.vs/config/applicationhost.config
/UpgradeLog.htm
/.vs/AppTokiota/v15/Server/sqlite3
